@font-face {
    font-family: 'Redaction';
    src: url('Redaction-Bold.woff2') format('woff2'),
        url('Redaction-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redaction';
    src: url('Redaction-Regular.woff2') format('woff2'),
        url('Redaction-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Redaction';
    src: url('Redaction-Italic.woff2') format('woff2'),
        url('Redaction-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
