    body{
        font-size: 16px;
        line-height: 1.6em;
        font-family: 'Redaction';
        --baseline: 1.5em;
        line-height: var(--baseline);
        --color: blue;
        margin-bottom: 20vh;
        padding: 0px;
        margin: 0;
    }

    *{
        box-sizing: border-box;
    }



    header{
        margin-bottom: 4em;
    }

    aside span{
            display: block;
        }

    #content{
        max-width: 60ch;
        margin-top: calc(var(--baseline)*1);

    
    }

    a{
        color: currentColor;
        text-decoration: none;
        border-bottom: 2px dotted currentColor;
        cursor: pointer;
    }

    a:hover{
        color: var(--color);
    }


    p{
        margin-bottom: calc(var(--baseline)*0.75);
        margin-top: 0;
    }

    hr{
        border: none;
        margin: none;
    }

    hr::before{
        content: "↓";
        display: block;
        margin-bottom: calc(var(--baseline)*0.75);
        color: currentColor;
        opacity: 1;
    }
    ul{
        list-style: none;
        margin-left: 0px;
        padding-left: 0px;
    }
    ul li{
        padding-bottom: 0.5em;
    }


    h3{
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        font-size: 1.2rem;
        margin: 0;
    
    }

    .list-docs{
        /* list-style: '▰ '; */
        padding-left: 2ch;
        position: relative;
        margin: 0;
        margin-top: calc(var(--baseline)*0.75);
    

    }

   

    .list-docs li::before{
        content: '▰ ';
        font-size: 0.8rem;
        position: absolute;
        left: 0ch;
    }

    /* .list-docs + .list-docs {
        margin-top: calc(var(--baseline)*0.75);
    } */



    @media screen and (max-width: 960px){
        body{
            padding: 20px;
        }

        aside{
            /* border-top: 1px solid #888; */
            margin-top: calc(var(--baseline)*2);
            padding-top: 1em; 

            margin-bottom: 20vh;
            background-color: #f3f3f3;
            width: 100vw;
            position: relative;
            left: -20px;
            padding: calc(var(--baseline)*2) 30px;
        }
    }
    @media screen and (min-width: 960px){
        body{
            padding: 50px;
            max-width: 1400px;
            margin: 0 auto;
            width: calc(100vw - 100px);
            height: calc(100vh - 100px);
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        #content{
            grid-column: 2;
            grid-row: 1/3;
        }
    
        aside{
            align-self: flex-end;
        }

        .list-docs:last-of-type{
            padding-bottom: 20vh;
        }
       
    }